[Unit]
Description=Start xmr-stak-cpu Miner
Documentation=man:syslog-ng(8)

[Service]
User=root
Type=forking
ExecStart=/bin/sh /opt/mine/root/cryptocurrency/miners/xmr-stak-cpu/start.sh
PIDFile=/var/run/xmr-stak-cpu.pid
StandardOutput=null
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
